@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.signupFieldsContainer{
    width: 445px;
    margin: 7% auto;
    border: 2px #fff solid;
    border-radius: 5px;
    padding: 54px 55px 54px 55px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
  }
  .signupFieldsContainer h3{
      text-align: center;
  }
  .NameWrapper label{
      display: flex;
      flex-direction: column;
      
  }
  .NameWrapper input{
    width:340px;
    height:55px;
    margin-top: 2rem;
    border:none;
    border-bottom: 2px solid #c3c3c3;
    transition: border-bottom 1s;
}
  
.formWrapper label{
    display: flex;
    flex-direction: column;
}
.formWrapper input{
    width:340px;
    height:55px;
    margin-top: 2rem;
    border:none;
    border-bottom: 2px solid #c3c3c3;
    transition: border-bottom 1s;
}
.formWrapper p{
    color: red;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
input:focus {
    border-bottom: 2px solid #000;
  }
  button {
    font-size: 16px;
    line-height: 1.2;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    // background-color: #000;
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    color: #f3f3f3;
  }
  button:hover{
      cursor: pointer;
  }
  
  .radioButtons label{
      display: inline;
      font-size: 13px;
      color: #000;
  }
  .radioButtons {
    display: flex;
    justify-content: space-between ;
    padding: 25px 30px;
    }
.admin, 
.student,
.teacher{
    display: flex;
    justify-content: center;
}

input:focus,
    button {
      outline: none;
    }

.admin label,
.student label,
.teacher label{
    position: relative;
    right:5px;
}
