.sidebarContainer {
  flex-grow: 1;
  background: linear-gradient(to bottom, #6a3093, #a044ff);
  min-height: 100vh;
}

.sidebarNavigationLinks {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.button {
  font: bold 1.5rem Arial;
  display: block;
  text-decoration: none;
  color:grey;
  opacity: 1;
  padding: 15px 1.2rem;
  border-bottom: 2.5px solid #ec38bc;
  outline: none;
  transition: all 450ms ease-out ;
}
.home,
.login,
.about{
  padding: 10px 0px;
}

.button:hover {
  color: #f3f3f3;
  position: relative;
  top: -8px;
}
